.draggable {
    cursor: move;
}

.container {
    font-family: monospace;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    margin: 0;
    display: grid;
    grid-template-areas: 
    "menu menu menu"
    "aside svg svg"
    "aside svg svg"
    "footer footer footer";
    grid-template-columns: 200px;
    grid-template-rows: 100px 1fr 100px;
}

nav {
    grid-area: menu;
    background-color: lightblue;
    padding: 5px;
}

nav header {
    font-size:x-large;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 10px;
}

nav #info {
    font-size: larger;
    border-radius: 18px;
    border: 2px solid black;
    padding: 10px;
    font-weight: 800;
    padding-left: 20px;
    margin-bottom: 10px;
}

aside { 
    grid-area: aside;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: lightblue;
}

.hiddenUnder {
    z-index: -5;
}

aside * {
    margin-left: 10px;
}

aside input {
    margin-top: 15px;
    padding: 5px;
    border-radius: 15px;
}

div#svg_container {
    grid-area: svg;
}

footer {
    grid-area: footer;
    text-align: center;
    font-size: large;
    font-weight: 700;
    padding-top: 5px;
    border-top: 2px black solid;
}

button.activeText {
    background-color: lightgreen;
}

button {
    background-color: lightgrey;
    font-size: medium;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

button[title]:hover::after {
    content: attr(title);
    position:fixed;
    top: 90px;
    left: 200px;
    overflow:hidden;
    padding: 5px;
    background-color: wheat;
    border-radius: 5px;
    border: 2px rgb(255, 201, 101) solid;
    transition: all 500ms ease-in-out;
    animation: normal popup 0.4s;
}

button.lower[title]:hover::after {
    content: attr(title);
    position:fixed;
    top: 230px;
    left: 200px;
    overflow:hidden;
    padding: 5px;
    background-color: wheat;
    border-radius: 5px;
    border: 2px rgb(255, 201, 101) solid;
    animation: normal popup 0.4s;
}

button.middle[title]:hover::after {
    content: attr(title);
    position:fixed;
    top: 150px;
    left: 200px;
    overflow:hidden;
    padding: 5px;
    background-color: wheat;
    border-radius: 5px;
    border: 2px rgb(255, 201, 101) solid;
    animation: normal popup 0.4s;
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

button:hover {
    background-color: grey;
    transition: all 190ms ease-in-out;
}

.hidden {
    display: none;
}

#info_checkbox:checked + label {
    color: green;
}

p#info {
    z-index: 2;
    line-height: 18px;
    width: 90%;
    box-shadow: 8px 6px rgb(0, 0, 0,0.25);
    background-color: rgb(245, 222, 179, 1);
    animation-name: infoParagraphSlide;
    animation-duration: 1.5s;
}

@keyframes infoParagraphSlide {
    from {
        margin-right: -10%;
        margin-left: 10%;
        transform: scale(0.5);
        opacity: 0;
        line-height: 5px;
      }
    
      to {
        margin-left: 0%;
        margin-right: 0%;
        transform: scale(1);
        opacity: 1;
      }
}

#export_section {
    background-color: wheat;
    border-radius: 10px;
    max-width: 15%;
    opacity: 1;
    margin-left: -10px;
    padding-bottom: 40px;
    padding-left: 15px;
    margin-top: 10px;
    animation: normal exportSlide 1.2s;
}

#export_section button {
    z-index: 5 !important;
}


@keyframes exportSlide {
    0% { margin-left: -15%;}
    
    30% { margin-left: -5%;}
    
    65% { margin-left: 0%;}

    100% { margin-left: -15px;}
}

select {
    padding: 5px;
    border-radius: 8px;
    font-size:small;
    font-weight: 600;
}

#set_text, #text_input {    
    transition: all 0.5s;
    animation: normal fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0;}
    to {opacity: 1;}
}

#selected_container {
    margin-left: 0;
}

#selected_container input, label {
    padding: 2%;
    transition: all 0.5s;
    margin-top: 5px;
    animation: normal fadeIn 1s;
}

#selected_container label {
    font-size: large;
}
